<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.avn.oms.mapper.MenuMapper">

  <!-- cache /-->
    
  <resultMap id="categoryResultMap" type="Category">
    <result property="text" column="text" />
  </resultMap>
  
  <resultMap id="menuItem" type="Menu">
    <result property="text"     column="text"/>
    <result property="orderno"  column="order_no" />
    <result property="uri"      column="uri" />
    <result property="viewPriv" column="viewpriv" />
    <result property="execPriv" column="execpriv" />
    <result property="category" column="category" />
    <result property="menuName" column="menuname" />
  </resultMap>
  
  <select id="getAllMenuItems" resultMap="menuItem">
    select m.text, m.order_no, p.uri, pv.name viewpriv, px.name execpriv
         , mt.text category, replace(m.text,' ','') menuname
	  from menu m join page p on (m.page_id = p.id) 
                  join privilege pv on (pv.id = p.view_priv_id)
                  join privilege px on (px.id = p.exec_priv_id)
                  join menu mt on (m.category_id = mt.id)     
	 where m.active = 'Y'
	   and (px.name in (select privilege from user_priv
					     where user= #{param1} )
	       or pv.name in (select privilege from user_priv
				           where user= #{param1} ))
	union
	select dmi.text, dmi.order_no, dmi.uri, dmi.viewpriv, dmi.execpriv
	     , dmi.category, dmi.menuname
	  from dynamic_menu_items_vw dmi
	 order by 6, 2
  </select>

  <select id="getAllMenuCategories" resultMap="categoryResultMap">
    select m.text
      from menu m join reference_code r on m.menu_type_id = r.id
	 where r.category = 'MENU_TYPE'
	   and r.code = 'HT'
	 order by order_no
  </select>
  
</mapper>
