<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.avn.oms.mapper.WatchdogMapper">

  <!-- cache / -->
<!-- 
	updateUpdated( Long i );
-->  
  
  <update id="updateWatchdog" parameterType="String">
    update watchdog
       set updated = updated + 1
     where name = #{parm1}
  </update>
    
</mapper>
