# npm packages
node_modules

# WinMerge backup files
*.bak

# Bluefish backup files
*.*~

# log and backup files
logs/**
*.log
*.log.gz

# DB archive files
*.arch

# target directories
data-server/target/**
oms/target/**
scada/target/**
sim/target/**
transfer/target/**
