<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration    PUBLIC 
            "-//mybatis.org//DTD Config 3.0//EN"    
            "http://mybatis.org/dtd/mybatis-3-config.dtd">
            
<configuration>

     <typeAliases>
        <typeAlias alias="AIValue"        type="us.avn.oms.domain.AIValue" />
     	<typeAlias alias="Alarm"          type="us.avn.oms.domain.Alarm"/>
     	<typeAlias alias="AlarmType"      type="us.avn.oms.domain.AlarmType"/>
     	<typeAlias alias="AlarmMessage"   type="us.avn.oms.domain.AlarmMessage"/>
     	<typeAlias alias="AnalogInput"    type="us.avn.oms.domain.AnalogInput"/>
     	<typeAlias alias="AnalogOutput"   type="us.avn.oms.domain.AnalogOutput"/>
     	<typeAlias alias="CalcOperand"    type="us.avn.oms.domain.CalcOperand"/>
     	<typeAlias alias="CalcVariable"   type="us.avn.oms.domain.CalcVariable"/>
     	<typeAlias alias="Category"       type="us.avn.oms.domain.Category" />
        <typeAlias alias="Config"         type="us.avn.oms.domain.Config"/>
        <typeAlias alias="ControlBlock"   type="us.avn.oms.domain.ControlBlock"/>
        <typeAlias alias="Customer"       type="us.avn.oms.domain.Customer"/>
     	<typeAlias alias="DigitalInput"   type="us.avn.oms.domain.DigitalInput"/>
     	<typeAlias alias="Field"          type="us.avn.oms.domain.Field" />
     	<typeAlias alias="History"        type="us.avn.oms.domain.History" />
     	<typeAlias alias="HistoryData"    type="us.avn.oms.domain.HistoryData" />
     	<typeAlias alias="HistoryRequest" type="us.avn.oms.domain.HistoryRequest" />
     	<typeAlias alias="IdName"         type="us.avn.oms.domain.IdName" />
     	<typeAlias alias="Menu"           type="us.avn.oms.domain.Menu" />
     	<typeAlias alias="PlotGroup"      type="us.avn.oms.domain.PlotGroup" />
     	<typeAlias alias="ProcessUnit"    type="us.avn.oms.domain.ProcessUnit" />
        <typeAlias alias="ReferenceCode"  type="us.avn.oms.domain.ReferenceCode" />
        <typeAlias alias="RelTagTag"      type="us.avn.oms.domain.RelTagTag" />
        <typeAlias alias="Role"           type="us.avn.oms.domain.Role" />
        <typeAlias alias="RolePriv"       type="us.avn.oms.domain.RolePriv" />
        <typeAlias alias="Tag"            type="us.avn.oms.domain.Tag"/>
        <typeAlias alias="Taglet"         type="us.avn.oms.domain.Taglet"/>
        <typeAlias alias="Tank"           type="us.avn.oms.domain.Tank"/>
        <typeAlias alias="TankData"       type="us.avn.oms.domain.TankData"/>
        <typeAlias alias="Transfer"       type="us.avn.oms.domain.Transfer"/>
     	<typeAlias alias="Unit"           type="us.avn.oms.domain.Unit"/>
     	<typeAlias alias="UnitConversion" type="us.avn.oms.domain.UnitConversion"/>
     	<typeAlias alias="UnitType"       type="us.avn.oms.domain.UnitType"/>
        <typeAlias alias="User"           type="us.avn.oms.domain.User"/>
        <typeAlias alias="UserPriv"       type="us.avn.oms.domain.UserPriv"/>
        <typeAlias alias="Validation"     type="us.avn.oms.domain.Validation"/>
        <typeAlias alias="Volume"         type="us.avn.oms.domain.Volume" />
        <typeAlias alias="Vessel"         type="us.avn.oms.domain.Vessel"/>
        <typeAlias alias="Watchdog"       type="us.avn.oms.domain.Watchdog" />
        <typeAlias alias="Xfer"           type="us.avn.oms.domain.Xfer" />
     </typeAliases>
         
    <mappers> 
        <package name="us.avn.oms.mapper" /> 
    </mappers> 
    
</configuration>