element {
  --main-bg-color: #021c47;
  --main-color: #042860;
}

.cat-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  color: var(--main-color);
  margin: 0px 10px 10px 10px;
  padding: 0px;
}

.cat-button:hover,
.cat-button:focus {
text-decoration: none;
}

.cat-button-selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  padding: 0px 10px 10px 10px;
  margin: 0px;
  width: auto;
  font-weight: 600;
  color: #29324e;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  display: inline;
  color: var(--main-color);
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.link-button-selected {
  background-color: #ffffff !important;
  box-shadow: inset 2px 0 0 #f05451;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  padding: 0 1.0em 0 1.0em;
  margin: 0;
  width: auto;
  font-size: 12px;
  font-weight: 600;
  color: #29324e;
}


.bottom-text {
  vertical-align: bottom;
}

.oms {
  text-align: center;
  max-width: 100%;
}

.oms-underline {
	text-decoration: underline;
}

.oms-cursor-pointer {
  cursor: pointer;
}

.oms-logo {
  animation: oms-logo-spin infinite 20s linear;
  height: 80px;
}

.oms-top {
  vertical-align: top;
}

.oms-div-center {
    text-align:center;
}
.oms-body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 100%;
}

.oms-fontsize-12 {
  font-size: 12px;
  padding: 0px;
}
.oms-green  { color: darkgreen; }
.oms-red    { color: red; }
.oms-blue   { color: blue; }
.oms-yellow { color: yellow; }
.oms-purple { color: purple; }

.oms-spacing {
  display: table-cell;
  padding:2px;
}

.oms-spacing-30 {
  display: table-cell;
  padding:2px;
  width: 30px;
}

.oms-spacing-40 {
  display: table-cell;
  padding:2px;
  width: 40px;
}

.oms-spacing-50 {
  display: table-cell;
  padding:2px;
  width: 50px;
}

.oms-spacing-60 {
  display: table-cell;
  padding:2px;
  width: 60px;
}

.oms-spacing-70 {
  display: table-cell;
  padding:2px;
  width: 70px;
}

.oms-spacing-80 {
  display: table-cell;
  padding:2px;
  width:80px;
}

.oms-spacing-90 {
  display: table-cell;
  padding:2px;
  width:90px;
}

.oms-spacing-100 {
  display: table-cell;
  padding:2px;
  width: 100px;
}

.oms-spacing-120 {
  display: table-cell;
  padding:2px;
  width: 120px;
}

.oms-spacing-150 {
  display: table-cell;
  padding:2px;
  width: 150px;
}

.oms-spacing-180 {
  display: table-cell;
  padding:2px;
  width: 180px;
}

.oms-spacing-240 {
  display: table-cell;
  padding:2px;
  width: 240px;
}

.oms-spacing-480 {
  display: table-cell;
  padding:2px;
  width: 480px;
}

.oms-spacing-540 {
  display: table-cell;
  padding:2px;
  width: 540px;
}

.oms-spacing-720 {
  display: table-cell;
  padding:2px;
  width: 720px;
}

.oms-spacing-all {
  display: table-cell;
  padding:2px;
  width: 100%;
}


.oms-left-menu {
  background-color: var(--main-bg-color); 
  color:#d4e6f4; 
  font-size: 10px; 
  vertical-align:top;
  text-align: left;
}

.oms-menu-text {
  background-color: var(--main-bg-color);
  color:rgb(195,194,185);
  font-size: 10px;
  text-align: left;
  font-weight: bold;
  padding: 0px 0px 5px 0px;
  display: table-cell;
  vertical-align: top;
  cursor: pointer;
}

.oms-menu-text a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 2px 0 0 #f05451;
  padding: 0 1.0em 0 1.0em;
  width: auto;
  font-size: 12px;
  font-weight: 600;
  color: #29324e;
}


.oms-padded-menu-text {
  background-color: var(--main-bg-color);
  color:rgb(195,194,185);
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  padding: 20px 0px 5px 0px;
  display: table-cell;
  vertical-align: top;
  cursor: pointer;
}

.oms-left-text {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  text-align: left;
}

.oms-center-text {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  text-align: center;
}

.oms-right-text {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  text-align: right;
}

.oms-menu {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  text-align: left;
  vertical-align:top;
}

.oms-table {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 100%;
}

.oms-header {
  background-color: var(--main-bg-color);
  height: 50px;
  padding: 10px;
  color: var(--main-color);
  font-weight: bold italic;
  text-align: left;
}

.oms-footer {
  background-color: var(--main-bg-color);
  height: 15px;
  padding: 10px 0px 0px 0px;
  color: var(--main-color);
  text-align: left;
  vertical-align: bottom;
}

.oms-tab {
  background-color: var(--main-bg-color);
  max-width: 100%;
  min-width: 800px;
  color: var(--main-color);
}

.oms-tabs {
  /* position: relative;
  width: 90%; */
  background-color: var(--main-bg-color);
  max-width: 1000px;
  color: var(--main-color);
  /* margin: 0em auto; */
}
.oms-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.oms-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll 
  position: absolute; */
  top: 0;
  right: 0;
  height: 10px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  /* background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));  */
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .oms-tabs::after {
  display: none;
}
.oms-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.oms-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--main-bg-color);
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 960px) {
  .oms-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    box-shadow: none;
  }
}

.oms-tabs-nav {
  width: 640px;
}
.oms-tabs-nav:after {
  content: "";
  display: table;
  clear: both;
}
.oms-tabs-nav li {
  float: left;
}
.oms-tabs-nav a {
  position: relative;
  display: block;
  height: 20px;
  width: 90px;
  text-align: center;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 5px;
  cursor: pointer;
}
.no-touch .oms-tabs-nav a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
  cursoe: pointer;
}
.oms-tabs-nav a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #29324e;
}

.oms-tabs-nav a::before {
  /* icons */
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: 0px;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url("./images/spacer.png");
  background-repeat: no-repeat;
}
.oms-tabs-nav a[data-content='inbox']::before {
  background-position: 0 0;
}
.oms-tabs-nav a[data-content='new']::before {
  background-position: -20px 0;
}
.oms-tabs-nav a[data-content='gallery']::before {
  background-position: -40px 0;
}
.oms-tabs-nav a[data-content='store']::before {
  background-position: -60px 0;
}
.oms-tabs-nav a[data-content='settings']::before {
  background-position: -80px 0;
}
.oms-tabs-nav a[data-content='trash']::before {
  background-position: -100px 0;
}
.oms-tabs-nav a[data-content='inbox'].selected::before {
  background-position: 0 -20px;
}
.oms-tabs-nav a[data-content='new'].selected::before {
  background-position: -20px -20px;
}
.oms-tabs-nav a[data-content='gallery'].selected::before {
  background-position: -40px -20px;
}
.oms-tabs-nav a[data-content='store'].selected::before {
  background-position: -60px -20px;
}
.oms-tabs-nav a[data-content='settings'].selected::before {
  background-position: -80px -20px;
}
.oms-tabs-nav a[data-content='trash'].selected::before {
  background-position: -100px -20px;
}

@media only screen and (min-width: 960px) {
  .oms-tabs-nav {
    /* move the nav to the left on medium sized devices */
    width: 8px;
    float: left;
  }
  .oms-tabs-nav a {
    height: 20px;
    width: 80px;
    padding-top: 6px;
  }
  .oms-tabs-nav a.selected {
    box-shadow: inset 2px 0 0 #f05451;
  }
  .oms-tabs-nav a::before {
    top: 12px;
  }
}
@media only screen and (min-width: 960px) {
  .oms-tabs-nav {
    /* tabbed on top on big devices */
    width: 100%;
    background-color: var(--main-bg-color); color: var(--main-color);
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .oms-tabs-nav a {
    height: 24px;
    line-height: 30px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0 1.5em 1em 1.5em;
  }
  .oms-tabs-nav a.unselected { box-shadow: inset 0 0px 0 #f05451; }
  .oms-tabs-nav a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }
  .oms-tabs-nav a::before {
    top: 50%;
    margin-top: 0px;
    margin-left: 0;
    left: 8px;
  }
}

.oms-tabs-content {
  background: #ffffff;
}

.oms-tabs-content li {
  display: none;
  padding: 1.4em;
}
.oms-tabs-content li.selected {
  display: block;
  -webkit-animation: oms-fade-in 0.5s;
  -moz-animation: oms-fade-in 0.5s;
  animation: oms-fade-in 0.5s;
}
.oms-tabs-content li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #8493bf;
  margin-bottom: 0em;
}
@media only screen and (min-width: 960px) {
  .oms-tabs-content {
    min-height: 480px;
  }
  .oms-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}

@media only screen and (min-width: 960px) {
  .oms-tabs-content {
    min-height: 0;
  }
  .oms-tabs-content li {
    padding: 0.2em;
  }
  .oms-tabs-content li p {
    font-size: 16px;
    font-size: 1rem;
  }
}

@-webkit-keyframes oms-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes oms-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes oms-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.oms-title {
  width: 1000px;
  font-size: 2.0em;
}

.oms-intro {
  font-size: large;
  color: var(--main-color);
  text-align: left;
  background-color: var(--main-bg-color);
}

@keyframes oms-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* set table header to a fixed position. WinIE 6.x only                                       */
/* In WinIE 6.x, any element with a position property set to relative and is a child of       */
/* an element that has an overflow property set, the relative value translates into fixed.    */
/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
thead.fixedHeader tr {
	position: relative;
}

/* set THEAD element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
html>body thead.fixedHeader tr {
	display: block;
}

/* make the TH elements pretty */
thead.fixedHeader th {
	background: var(--main-bg-color);
	border-left: none;
	border-right: none;
	border-top: none;
	font-weight: normal;
	padding: 1px 1px 1px 1px;
	text-align: left;
}

/* make the A elements pretty. makes for nice clickable headers                */
thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 950px;
}

/* make the A elements pretty. makes for nice clickable headers                */
/* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
thead.fixedHeader a:hover {
	color: #FFF;
	display: block;
	text-decoration: underline;
	width: 950px;
}

/* define the table content to be scrollable                                              */
/* set TBODY element to have block level attributes. All other non-IE browsers            */
/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
/* induced side effect is that child TDs no longer accept width: auto                     */
html>body tbody.scrollContent-wide {
	display: block;
	height: 100%;
	overflow: auto;
	width: 1000px;
	vertical-align: top;
}

html>body tbody.scrollContent {
	display: block;
	height: 100%;
	overflow: auto;
	width: 100%;
	vertical-align: top;
}

html>body tbody.scrollContent-medium {
	display: block;
	height: 100%;
	overflow: auto;
	width: 480px;
	vertical-align:top;
}

/* make TD elements pretty. Provide alternating classes for striping the table */
html>body tbody.scrollContent-narrow {
	display: block;
	height: 100%;
	overflow: auto;
	width: 360px;
	vertical-align:top;
}

html>body tbody.scrollContent-thin {
	display: block;
	height: 100%;
	overflow: auto;
	width: 150px;
	vertical-align:top;
}

/* http://www.alistapart.com/articles/zebratables/                             */
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: var(--main-bg-color);
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 1px 1px 1px 1px;
}

tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 1px 1px 1px 1px;
}

/* link padding */
.linkpad { padding: 2px 2px 2px 2px; }

/* Dropdown Button */
.dropbtn {
  background-color: var(--main-bg-color);
  color: white;
  padding: 12px 12px 0px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover .dropdown-content {display: block}

dropdown:hover .dropbtn:focus { background-color: grey; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}