<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="us.avn.oms.mapper.AlarmMapper">

  <!-- cache / -->
<!-- 
    Collection<AlarmMessage> getAllAlarmMsgs();
	Collection<AlarmType> getAllAlarmTypes( );
	Collection<Alarm> getAllAlarms( );
	Collection<Alarm> getActiveAlarms( );
	
	AlarmMessage getAlarmMsg( Long id );
	AlarmType getAlarmType( Long id );
	Alarm getAlarm( Long id );
	Alarm getActiveAlarmForObj( Long id );
	
	updateAlarmMessage( AlarmMessage am );
	updateAlarmType( AlarmType at );
	
	acknowledgeAlarm( Long id );

	insertAlarmMessage( AlarmMessage am );
	insertAlarmType( AlarmType at );
	insertAlarm( Alarm a );
	
AlarmType: id, priority, alarm_msg_id, code
AlarmMessage: id, obj_id, abbr, message
Alarm: id, alarm_type_id, tag_type_id, alm_occurred, acknowledged, active, alarm_msg_id

-->  

  <resultMap id="alarmMap" type="Alarm">
     <result property="id"           column="id"/>
     <result property="alarmTypeId"  column="alarm_type_id"/>
     <result property="tagTypeId"    column="tag_type_id"/>
     <result property="alarmCode"    column="code" />
     <result property="tagId"        column="tag_id"/>
     <result property="almOccurred"  column="alm_occurred"/>
     <result property="acknowledged" column="acknowledged"/>
     <result property="active"       column="active"/>
     <result property="alarmMsgId"   column="alarm_msg_id"/>
     <result property="message"      column="message" />
  </resultMap>
    
  <resultMap id="alarmInfoMap" type="Alarm" >
     <result property="id"                    column="id"/>
     <result property="tagId"                 column="tag_id" />
     <result property="alarmTag.id"           column="tag_id" />
     <result property="alarmTag.name"         column="name" />
     <result property="alarmTag.description"  column="description" />
     <result property="almOccurred"           column="alm_occurred"/>
     <result property="acknowledged"          column="acknowledged"/>
     <result property="active"                column="active"/>
     <result property="alarmMsgId"            column="alarm_msg_id"/>
     <result property="priority"              column="priority" />
     <result property="alarmCode"             column="code" />
     <result property="color"                 column="color" />
     <result property="message"               column="message" />
     <result property="value"                 column="value" />
  </resultMap>
  
  <resultMap id="alarmMessageMap" type="AlarmMessage">
     <result property="id"        column="id"/>
     <result property="abbr"      column="abbr"/>
     <result property="message"   column="message"/>
  </resultMap>

  <resultMap id="alarmTypeMap" type="AlarmType">
     <result property="id"         column="id"/>
     <result property="priority"   column="priority"/>
     <result property="alarmMsgId" column="alarm_msg_id"/>
     <result property="code"       column="code"/>
     <result property="alarmMsg"   column="message" />
  </resultMap>
  
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

  <select id="getAlarmColors" parameterType="Config" >
    select id, item_name, item_value
      from alarm_color_list_vw
  </select>

  <select id="getAllAlarmMsgs" resultMap="alarmMessageMap">
    select id, abbr, message
      from alarm_message
     order by abbr
  </select>

  <select id="getAllAlarmTypes" resultMap="alarmTypeMap">
    select at.id, at.priority, at.code, at.alarm_msg_id, at.id, am.message
      from alarm_type at join alarm_message am on at.alarm_msg_id=am.id 
      order by at.code
  </select>

  <select id="getAlarmTypes" resultMap = "alarmTypeMap" >
    select id, priority, alarm_msg_id, code
      from alarm_type
  </select>

  <select id="getAllAlarms" resultMap="alarmMap">
    select id, alarm_type_id, tag_type_id, alm_occurred
         , acknowledged, active, alarm_msg_id
      from alarm
     order by alm_occurred
  </select>

  <select id="getAllActiveAlarms" resultMap="alarmInfoMap">
    select an.id, an.tag_id, an.alm_occurred, an.acknowledged, an.active
         , an.alarm_msg_id, an.priority, an.code, an.color, am.message
         , t.tag_type_code, t.name, t.description, an.value
      from alarm_info an join alarm_message am on an.alarm_msg_id = am.id
           join tag t on an.tag_id = t.id
     order by an.priority desc, an.alm_occurred desc
  </select>

  <select id="getTagAlarms" parameterType="Long" resultMap="alarmMap">
    select a.id, alarm_type_id, tag_type_id, at.code, a.tag_id, a.alm_occurred
         , a.acknowledged, a.active, a.alarm_msg_id, am.message
      from alarm a join alarm_type at on a.alarm_type_id = at.id
           join alarm_message am on a.alarm_msg_id = am.id
     where a.tag_id = #{param1}
       and a.active = 'Y'
     order by abbr
  </select>
  
<!-- -->
  <select id="getAlarmMessage" resultMap="alarmMessageMap">
    select id, abbr, message
      from alarm_message
	 where id = #{param1}
  </select>
  
  <update id="updateAlarm" parameterType="Alarm">
    update alarm
       set acknowledged = #{acknowledged}
         , active = #{active}
     where id = #{id}
  </update>
  
  <update id="updateAlarmMessage" parameterType="AlarmMessage">
    update alarm_message
       set abbr = #{abbr}
         , message = #{message}
     where id = #{id}
  </update>
  
  <insert id="insertAlarm" parameterType="Alarm">
    insert alarm( alarm_type_id, tag_type_id, tag_id, alm_occurred
                , acknowledged, active, alarm_msg_id ) 
    values ( #{alarmTypeId}, #{tagTypeId}, #{tagId}, #{almOccurred}
           , #{acknowledged}, #{active}, #{alarmMsgId} )
    on duplicate key update
             tag_type_id = #{tagTypeId}
           , tag_id = #{tagId}
           , alm_occurred = #{almOccurred}
           , acknowledged = #{acknowledged}
           , active = #{active}
           , alarm_msg_id = #{alarmMsgId}
  </insert>

  <insert id="insertAlarmMessage">
    insert alarm_message( abbr, message ) 
    values (#{abbr}, #{message})
  </insert>
<!--  -->

<!-- -->
  <select id="getAlarmType" resultMap="alarmTypeMap">
    select at.id, priority, code, alarm_msg_id, message
      from alarm_type at join alarm_message am on at.alarm_msg_id = am.id
	 where at.id = #{param1}
  </select>
  
  <update id="updateAlarmType" parameterType="AlarmType">
    update alarm_type
       set priority = #{priority}
         , code = #{code}
         , alarm_msg_id = #{alarmMsgId}
     where id = #{id}
  </update>
  
  <insert id="insertAlarmType" parameterType="AlarmType">
    insert alarm_type( code, priority, alarm_msg_id ) 
    values (#{code}, #{priority}, #{alarmMsgId})
  </insert>
<!--  -->

</mapper>
