<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="us.avn.oms.mapper.PlotGroupMapper">

  <!-- cache / -->
  
  <!-- insert into plot_group(name,id1,id2,id3,id4) values('Local',203,204,205,206); -->

   <resultMap id="plotGroupMap" type="PlotGroup">
      <id property="id"           column="id"/>
      <result property="name"     column="name"/>
      <result property="id1"      column="id1" />
      <result property="id2"      column="id2" />
      <result property="id3"      column="id3" />
      <result property="id4"      column="id4" />
      <result property="active"   column="active" />
      <result property="source"   column="source" />
   </resultMap>
   
  <select id="getPlotGroupDefinition" resultMap="plotGroupMap">
    select pg.id, pg.name, pg.id1, pg.id2, pg.id3, pg.id4, pg.active, 'PG' source
      from plot_group pg
     where pg.id = #{parm1}
    union
    select x.id, x.name, trts.level_tag_id id1, trts.temp_tag_id id2
         , trtd.level_tag_id id3, trtd.temp_tag_id id4, 'Y' active, 'X' source
      from transfer x 
      left outer join tank_ref_tag_vw trts on x.source_id=trts.id 
      left outer join tank_ref_tag_vw trtd on x.destination_id = trtd.id 
     where x.status_id = 1 and x.id = #{parm1}
  </select>

  <select id="getAllPlotGroups" resultMap="plotGroupMap">
    select pg.id, pg.name, pg.id1, pg.id2, pg.id3, pg.id4, pg.active, 'PG' source
      from plot_group pg 
    union 
    select x.id, x.name, if(ts.tag_type_code = 'TK',source_id,null)
         , if(td.tag_type_code='TK',destination_id,null), null, null, 'Y', 'X'
      from transfer x join tag ts on x.source_id=ts.id 
      join tag td on x.destination_id = td.id 
      join transfer_status_vw tsv on tsv.id = x.status_id
     where tsv.code = 'A'
     order by 2
  </select>
  
  <update id="updatePlotGroup" parameterType="PlotGroup" >
    update plot_group
       set name=#{name}, id1=#{id1}, id2=#{id2}
         , id3=#{id3}, id4=#{id4} 
     where id = #{id}
  </update>

  <insert id="insertPlotGroup" parameterType="PlotGroup" >
    insert into plot_group
          ( name, id1, id2, id3, id4 )
    values( #{name}, #{id1}, #{id2}, #{id3}, #{id4} )
  </insert>
  
</mapper>
