<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="us.avn.oms.mapper.ShipMapper">

  <!-- cache / -->
    
  <resultMap id="srm" type="Ship">
    <result property="id"              column="id" />
    <result property="fullName"        column="full_name" />
    <result property="ownerId"         column="owner_id" />
    <result property="owner"           column="owner" />
    <result property="name"            column="name" />
    <result property="description"     column="description" />
    <result property="tagTypeCode"     column="tag_type_code" />
    <result property="active"          column="active" />
  </resultMap>
  
  
  <!-- rtt record here is used to specify ownership of Ship ("C" => customer) -->
  <select id="getAllShips" resultMap="srm">
    select s.id, s.name, c.id owner_id, c.name owner
      from tag s join rel_tag_tag rtt on s.id=rtt.parent_tag_id
      join customer c on rtt.child_tag_id = c.id
     where s.tag_type_code = 'S'
       and rtt.code = 'C'
     order by s.name
  </select>

  <select id="getShip" resultMap="srm">
    select s.id, s.name, c.id owner_id, c.name owner
         , t.description, t.tag_type_code, t.active
      from tag s join rel_tag_tag rtt on s.id=rtt.parent_tag_id
      join customer c on rtt.child_tag_id = c.id
     where s.tag_type_code = 'S'
       and rtt.code = 'C'
       and s.id = #{param1} 
  </select>
  
  <select id="getShipByName" resultMap="srm">
    select s.id, s.name, c.id owner_id, c.name owner
         , t.description, t.tag_type_code, t.active
      from tag s
      join customer c on rtt.child_tag_id = c.id
     where s.tag_type_code = 'S'
       and s.misc = 'C'
	 where t.name = #{param1} 
  </select>
    
</mapper>
