<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="us.avn.oms.mapper.WatchdogMapper">

  <!-- cache / -->
<!-- 
	updateUpdated( Long i );
-->  

  <resultMap id="wdMap" type="Watchdog" >
    <id property="id"                 column="id" />
    <result property="name"           column="name" />
    <result property="updated"        column="updated" />
    <result property="active"         column="active" />
    <result property="lastModifiedDt" column="lmd" />
  </resultMap>
  
  <select id="getActiveWatchdogs" resultMap="wdMap">
    select id, name, updated, active
         , date_format(last_modified_dt,'%Y-%m-%d %H:%i:%s') lmd
      from watchdog where active='Y'
  </select>
  
  <update id="updateWatchdog" parameterType="String">
    update watchdog
       set updated = updated + 1
     where name = #{param1}
  </update>
    
</mapper>
