<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Properties>
        <Property name="filename">../logs/simulate</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="RollingFile">
            <FileName>${filename}.log</FileName>
            <FilePattern>${filename}-%d{yyyy-MM-dd-HH-mm}.log.gz</FilePattern>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="59 23 0 * * ?" evaluateOnStartup="true" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="com.mysql" level="DEBUG" additivity="false">
      		<AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="us.avn.oms" level="DEBUG" additivity="false">
      		<AppenderRef ref="RollingFile"/>
        </Logger>
        <Logger name="us.avn.oms.mapper" level="DEBUG" additivity="false">
      		<AppenderRef ref="RollingFile"/>
        </Logger>
    </Loggers>
</Configuration>